.filters {
    padding-top: 95px;
    padding-bottom: 95px;
}

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filt-btn-list {
    margin-right: 8px;
}

.filters-btn {
    background: #f5f4fa;
    border-radius: 4px;
    line-height: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color var(--transition);
}

.filters-btn:hover,
.filters-btn:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
}