.progekt {
    padding-bottom: 95px;
}

.title-list {
    display: flex;
}

.progekt-item {
    margin-right: 30px;
    position: relative;
}

.progekt-text-box {
    position: absolute;
    top: 225px;
    width: 370px;
}

.progekt-text {
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    
}

.title-list,
.progekt-item:last-child {
    margin-right: 0;
}

.progekt-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}